
<form>
  <!--First row-->
  <div class="row">
      <!--First column-->
      <div class="col-md-6">
          <div class="md-form">
              <input #in0 mdbActive type="number" class="form-control" id="form9" name="lat" mdbInputValidate>
              <label class="active" for="form9">Type lat</label>
          </div>
      </div>

      <!--Second column-->
      <div class="col-md-6">
          <div class="md-form">
              <input #in1 mdbActive type="number" class="form-control" id="form10" name="lng" mdbInputValidate>
              <label class="active" for="form10">Type lng</label>
          </div>
      </div>
  </div>
</form>

<button type="button" class="btn btn-primary" (click)="SetLocations(in0,in1)">Bereken afstanden naar Jeugdhuizen</button>
<tbody>
  <tr *ngFor="let item of afstanden" >
      <p>{{item}}</p>
  </tr>
</tbody>