<div class="container-fluid animated fadeIn">
    <!-- BEGIN IMAGE  -->
<div class="row">
    <div class="col-md-4 ">
      <div id="row1" class="view hm-white-slight waves-light" mdbRippleRadius>
          <img class="img-fluid" id='img1'src="https://purewows3.imgix.net/images/articles/2017_09/pcos-myths-weight-loss-.jpg?auto=format,compress&cs=strip" alt="Card image cap">
      </div>
    <!-- EINDE IMAGE --> 
    <div class='alert alert-warning animated fadeIn' *ngIf="TryAgain">Probeer opnieuw aub, er zit een fout in u input!</div> 
<!-- BEGIN CARD -->
<div class="card-body"> 
<!-- BEGIN LENGTE FORM -->
    <div class="row">
    <div class="md-form col-md-8">
    <input [(ngModel)]='lengte' mdbActive type="text" id="form2" class="form-control">
    <label for="form2" class="">Lengte</label>
    </div>

    <div class="col-md-4"> 
      <select class="form-control" [(ngModel)]='WeightChoice'>
        <option selected value="Kilogram"> Centimeter </option>
        <option value="Pond"> Inches </option>  
      </select>
    </div>
        </div>
        
<!-- EINDE LENGTE FORM -->

<!-- BEGIN GEWICHT FORM -->
<div class='row'>
    <div class="md-form col-md-8">
  <input [(ngModel)]='gewicht' mdbActive type="text" id="form1" class="form-control">
  <label for="form1" class="">Gewicht</label>
    </div>
    <div class="col-md-4">
    <select class="form-control" [(ngModel)]='WeightChoice'>
        <option selected value="Kilogram"> Kilogram </option>
        <option value="Pond"> Pond </option>  
      </select>
    </div>
    </div>
  <!--EINDE GEWICHT FORM  -->
    <div class="row">
      <div class='col-md-6'>
  <button *ngIf="ButtonEnabled; else Buttondisabled" type="button" class="btn btn-primary waves-light" (click)="CalculateBmi()" mdbRippleRadius>Bereken BMI</button> 
  <ng-template #Buttondisabled>
      <button type="button" class="btn btn-primary waves-light" mdbRippleRadius disabled>Bereken BMI</button>
    </ng-template> 
      </div>
      <div class = 'col-md-6'>
        <p>Uw BMI is {{bmi}}</p>
      </div>
        </div>
      
    </div>    
<!-- EINDE CARD -->

    </div>

    <div class="col-md-6">

        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">BMI Tafel</h4>
            <!--Text-->
<table class="table">
    <thead>
      <tr>

        <th>BMI</th>
        <th>Categorie</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>0 - 18.5</td>
        <td>Ondergewicht</td>    
      </tr>
      <tr>

        <td>18.5 - 25</td>
        <td>Normaal Gewicht</td>       
      </tr>
      <tr>

        <td>25 - 30</td>
        <td>Overgewicht</td>
      </tr>
      <tr>

        <td>30 - 40</td>
        <td>Ernstig Overgewicht</td>
      </tr>
      <tr>
        <td>40+</td>
        <td>Ziekelijk Overgewicht</td>
      </tr>
    </tbody>
  </table>
        </div>

    </div>
</div>
</div>
                                    
