<div class="card">
  <div class="card-header">Onze WebPage: </div>
    <div class="card-block">
     <ul class="list-group">
      <li class="list-group-item">Datasets Antwerpen: <strong>Velo Stations, Jeugdhuizen</strong></li>
      <li class="list-group-item">Extra Services: <strong>Google Maps, AfstandsBepaling</strong></li>
      <li class="list-group-item">Uw BMI berekenen terwijl je een top film kiest? Allemaal mogenlijk. Ook bevat onze webpagina enkele simpele wiskundige berekeningen en een fantastische game. </li>
      <li class="list-group-item">Navigatie: Eenvoudig, scrol door al de leuke componenten a.d.v de navigatie balk bovenaan.</li>
     </ul>
   </div>
</div>
                
<!-- Hoverable -->
<div class="view overlay hm-zoom">
    <img src="/assets/velo.png" width="40%" height="40%" class="img-fluid hoverable" alt="hoverable">
    <div class="mask flex-center waves-effect waves-light">
        <p class="black-text">VeloComponent</p>
    </div>
</div>
<!-- Hoverable -->
<div class="view overlay hm-zoom">
    <img src="/assets/jeugdhuis.jpg" width="30%" height="30%"  class="img-fluid hoverable" alt="hoverable">
    <div class="mask flex-center waves-effect waves-light">
        <p class="black-text">JeugdhuisComponent</p>
    </div>
</div>


                
            