<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light ">
    
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">Web Frameworks</a></logo>

<!-- Collapsible content -->
<links>

 <!-- Links -->
 <ul class="navbar-nav mr-auto">
     <li class="nav-item " [routerLinkActive]="['active']">
         <a [routerLink]="['/home']"class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
         <a [routerLink]="['/film']" class="nav-link waves-light" mdbRippleRadius>Film</a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/bmi']"class="nav-link waves-light" mdbRippleRadius>Bmi</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/velo']"class="nav-link waves-light" mdbRippleRadius>Velo</a>
    </li>
     <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/game']"class="nav-link waves-light" mdbRippleRadius>Game</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/jeugdhuis']"class="nav-link waves-light" mdbRippleRadius>Jeugdhuis</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/afstand']"class="nav-link waves-light" mdbRippleRadius>AfstandBepaling</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/cirkel']"class="nav-link waves-light" mdbRippleRadius>Cirkel</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/driehoek']"class="nav-link waves-light" mdbRippleRadius>Driehoek</a>
    </li>
 </ul>
 <!-- Links -->
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
     