<div class="card">
    
                <!--Card image-->
                <div class="card-header">JORIS VAN LOOY ROBBE VERMEIRE</div>
                <div class="view overlay hm-white-slight">
                    <img src="/assets/JorisRobbe.jpg" class="img-fluid" alt="photo">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
    
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Welkom
                    </h4>
                    <!--Text-->
                    <p class="card-text">Welcome op onze <b>Web-Frameworks</b> pagina! </p>
                   
                </div>
    
            </div>
            <!--/.Card-->